.getInTouch{
    display: inline-block;
    margin: 7em 7em ;
    color: white;
    font-size: 2em;
    font-family: 'New Tegomin', serif;
}
i{
    font-size:2em ;
    margin:0.2em;
    color: rgb(37, 34, 34);
  
}